/bin
/pkg
*.log
.project
bitcoindata.sql
config/private_config.ini
*/private_config.ini
main
trading.log
.vscode
.DS_Store
*/bfTradingApp


# terraform
private_key_script.txt
**/.terraform/*
*.tfstate
*.tfstate.*
/terraform/crash.log
/terraform/override.tf
/terraform/override.tf.json
*_override.tf
*_override.tf.json
/terraform/terraform.tfvars