<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <style>
        #dashboard_div{
            width: 600px;
            border: 1px solid #ccc;
        }
        #chart_div{
            height:400px;
            border-bottom: 1px solid #ccc;
        }
        #filter_div{
            height:50px;
        }
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'controls']});

        var config = {
            api:{
                enable: true,
                interval: 1000 * 3
            },
            candlestick:{
                product_code: 'BTC_JPY',
                duration: '1m',
                limit: 365,
                numViews: 5,
            },
            dataTable: {
                index : 0,
                value: null
            },
            sma: {
                enable: false,
                indexes: [],
                periods: [],
                values: []
            },
            ema: {
                enable: false,
                indexes: [],
                periods: [],
                values: []
            },
            events: {
                enable: false,
                indexes: [],
                values: [],
                first: null
            }
        };

        function initConfigValues(){
            config.dataTable.index = 0;
            config.sma.indexes = [];
            config.sma.values = [];
            config.ema.indexes = [];
            config.ema.values = [];
            config.events.indexes = [];
            config.events.values = [];
        }

        function drawChart(dataTable) {
            var chartDiv = document.getElementById('chart_div');
            var charts = [];
            var dashboard = new google.visualization.Dashboard(chartDiv);
            var mainChart = new google.visualization.ChartWrapper({
                chartType: 'ComboChart',
                containerId: 'chart_div',
                options: {
                    hAxis: {'slantedText': false},
                    legend: {'position': 'none'},
                    candlestick: {
                        fallingColor: { strokeWidth: 0, fill: '#a52714' },
                        risingColor: { strokeWidth: 0, fill: '#0f9d58' }
                    },
                    seriesType: "candlesticks",
                    series: {}
                },
                view: {
                    columns: [
                        {
                            calc: function(d, rowIndex) {
                                return d.getFormattedValue(rowIndex, 0);
                            },
                            type: 'string'

                        }, 1, 2, 3, 4
                    ]

                }

            });
            charts.push(mainChart);

            var options = mainChart.getOptions();
            var view = mainChart.getView();

            if (config.sma.enable == true) {
                for (i = 0; i < config.sma.indexes.length; i++) {
                    options.series[config.sma.indexes[i]] = {type: 'line'};
                    view.columns.push(config.candlestick.numViews + config.sma.indexes[i]);
                }
            }
            
            if (config.ema.enable == true) {
                for (i = 0; i < config.ema.indexes.length; i++) {
                    options.series[config.ema.indexes[i]] = {type: 'line'};
                    view.columns.push(config.candlestick.numViews + config.ema.indexes[i]);
                }
            }
            
            if (config.events.enable == true && config.events.indexes.length > 0){
                options.series[config.events.indexes[0]] = {
                    'type': 'line',
                    tooltip: 'none',
                    enableInteractivity: false,
                    lineWidth: 0
                };
                view.columns.push(config.candlestick.numViews + config.events.indexes[0]);
                view.columns.push(config.candlestick.numViews + config.events.indexes[1]);
            }

            var controlWrapper = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'filter_div',
                'options': {
                    'filterColumnIndex': 0,
                    'ui': {
                        'chartType': 'LineChart',
                        'chartView': {
                            'columns': [0, 4]
                        }
                    }
                }
            });

            dashboard.bind(controlWrapper, charts);
            dashboard.draw(dataTable);

        }

        function send () {
            if (config.api.enable == false){
                return
            }
            var params = {
                "product_code": config.candlestick.product_code,
                "limit": config.candlestick.limit,
                "duration": config.candlestick.duration,
            }

            if (config.sma.enable == true) {
                params["sma"] = true;
                params["smaPeriod1"] = config.sma.periods[0];
                params["smaPeriod2"] = config.sma.periods[1];
                params["smaPeriod3"] = config.sma.periods[2];
            }
            
            if (config.ema.enable == true) {
                params["ema"] = true;
                params["emaPeriod1"] = config.ema.periods[0];
                params["emaPeriod2"] = config.ema.periods[1];
                params["emaPeriod3"] = config.ema.periods[2];
            }
            
            if (config.events.enable == true) {
                params["events"] = true;
            }
            
            $.get("/api/candle/", params).done(function (data) {
                initConfigValues();
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('date', 'Date');
                dataTable.addColumn('number', 'Low');
                dataTable.addColumn('number', 'Open');
                dataTable.addColumn('number', 'Close');
                dataTable.addColumn('number', 'High');
                dataTable.addColumn('number', 'Volume');

                if (data["smas"] != undefined) {
                    for (i = 0; i < data['smas'].length; i++){
                        var smaData = data['smas'][i];
                        if (smaData.length == 0){ continue; }
                        config.dataTable.index += 1;
                        config.sma.indexes[i] = config.dataTable.index;
                        dataTable.addColumn('number', 'SMA' + smaData["period"].toString());
                        config.sma.values[i] = smaData["values"]
                    }
                }

                if (data['events'] != undefined) {
                    config.dataTable.index += 1;
                    config.events.indexes[0] = config.dataTable.index;
                    config.dataTable.index += 1;
                    config.events.indexes[1] = config.dataTable.index;

                    config.events.values = data['events']['signals'];
                    config.events.first = config.events.values.shift();

                    dataTable.addColumn('number', 'Marker');
                    dataTable.addColumn({type:'string', role:'annotation'});

                    if (data['events']['profit'] != undefined) {
                        profit = "$" + String(Math.round(data['events']['profit'] * 100) / 100);
                        $('#profit').html("Change:" + profit);
                    }
                }
                
                var googleChartData = [];
                var candles = data["candles"];

                for(var i=0; i < candles.length; i++){
                    var candle = candles[i];
                    var date = new Date(candle.time);
                    var datas = [date, candle.low, candle.open, candle.close, candle.high, candle.volume];

                    if (data["smas"] != undefined) {
                        for (j = 0; j < config.sma.values.length; j++) {
                            if (config.sma.values[j][i] == 0) {
                                datas.push(null);
                            } else {
                                datas.push(config.sma.values[j][i]);
                            }
                        }
                    }
                    
                    if (data["emas"] != undefined) {
                        for (j = 0; j < config.ema.values.length; j++) {
                            if (config.ema.values[j][i] == 0) {
                                datas.push(null);
                            } else {
                                datas.push(config.ema.values[j][i]);
                            }
                        }
                    }

                    googleChartData.push(datas)
                }

                dataTable.addRows(googleChartData);
                drawChart(dataTable);
            })
        }

        function changeDuration(s){
            config.candlestick.duration = s;
            send();
        }

        setInterval(send, 1000 * 3)
        window.onload = function () {
            send()

            $('#dashboard_div').mouseenter(function() {
                config.api.enable = false;
            }).mouseleave(function() {
                config.api.enable = true;
            });

            $('#inputSma').change(function() {
                if (this.checked === true) {
                    config.sma.enable = true;
                } else {
                    config.sma.enable = false;
                }
                send();
            });

            $("#inputSmaPeriod1").change(function() {
                config.sma.periods[0] = this.value;
                send();
            });
            $("#inputSmaPeriod2").change(function() {
                config.sma.periods[1] = this.value;
                send();
            });
            $("#inputSmaPeriod3").change(function() {
                config.sma.periods[2] = this.value;
                send();
            });
            
            $('#inputEma').change(function() {
                if (this.checked === true) {
                    config.ema.enable = true;
                } else {
                    config.ema.enable = false;
                }
                send();
            });
            $("#inputEmaPeriod1").change(function() {
                config.ema.periods[0] = this.value;
                send();
            });
            $("#inputEmaPeriod2").change(function() {
                config.ema.periods[1] = this.value;
                send();
            });
            $("#inputEmaPeriod3").change(function() {
                config.ema.periods[2] = this.value;
                send();
            });
        }
    </script>
</head>
<body>

<div>
    <button onclick="changeDuration('1s');">1s</button>
    <button onclick="changeDuration('1m');">1m</button>
    <button onclick="changeDuration('1h');">1h</button>
</div>

<div>
    SMA <input id="inputSma" type="checkbox">
    Period<input id="inputSmaPeriod1" type="text" value="7" style="width: 15px;">
    <input id="inputSmaPeriod2" type="text" value="14" style="width: 15px;">
    <input id="inputSmaPeriod3" type="text" value="50" style="width: 15px;">
</div>

<div>
    EMA <input id="inputEma" type="checkbox">
    Period<input id="inputEmaPeriod1" type="text" value="7" style="width: 15px;">
    <input id="inputEmaPeriod2" type="text" value="14" style="width: 15px;">
    <input id="inputEmaPeriod3" type="text" value="50" style="width: 15px;">
</div>

<div id="dashboard_div">
    <div id="chart_div"></div>
    <div id="filter_div"></div>
</div>

</body>
</html>